@import "tailwindcss";

@theme inline {
  --color-background: #FAF7F2;
  --color-foreground: #121c2a;
  --color-surface: #f8f9ff;
  --color-surface-dim: #d0dbed;
  --color-surface-container-low: #eff4ff;
  --color-surface-container: #e6eeff;
  --color-surface-container-high: #dee9fc;
  --color-surface-container-highest: #d9e3f6;
  --color-surface-container-lowest: #ffffff;
  --color-surface-variant: #d9e3f6;
  --color-surface-bright: #f8f9ff;
  --color-on-surface: #121c2a;
  --color-on-surface-variant: #424754;
  --color-outline: #727785;
  --color-outline-variant: #c2c6d6;
  --color-primary: #2563EB;
  --color-on-primary: #ffffff;
  --color-primary-container: #3B82F6;
  --color-on-primary-container: #fefcff;
  --color-primary-fixed: #d8e2ff;
  --color-primary-fixed-dim: #adc6ff;
  --color-on-primary-fixed: #001a42;
  --color-on-primary-fixed-variant: #004395;
  --color-secondary: #515f74;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #d5e3fc;
  --color-on-secondary-container: #57657a;
  --color-secondary-fixed: #d5e3fc;
  --color-secondary-fixed-dim: #b9c7df;
  --color-on-secondary-fixed: #0d1c2e;
  --color-on-secondary-fixed-variant: #3a485b;
  --color-tertiary: #006b2c;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #00873a;
  --color-on-tertiary-container: #f7fff2;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

body {
  background-color: #FAF7F2;
  color: #121c2a;
  font-family: var(--font-sans);
}

@font-face {
  font-family: "Bravura";
  src: url("/fonts/Bravura.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-bravura {
  font-family: "Bravura", serif;
}
